services:
  realtimeprice-service:
    build: .
    container_name: realtimeprice-service
    command: ["uvicorn", "real-time-price:app", "--host", "0.0.0.0", "--port", "8000"]
    environment:
      ALPHA_VANTAGE_API_KEY: "${ALPHA_VANTAGE_API_KEY}"
    ports:
      - "8001:8000"
    networks:
      - stocknet

  fundamentaldata-service:
    build: .
    container_name: fundamentaldata-service
    command: ["uvicorn", "fundamental-data:app", "--host", "0.0.0.0", "--port", "8000"]
    environment:
      ALPHA_VANTAGE_API_KEY: "${ALPHA_VANTAGE_API_KEY}"
    ports:
      - "8002:8000"
    networks:
      - stocknet

  analysis-service:
    build: .
    container_name: analysis-service
    command: ["uvicorn", "analysis:app", "--host", "0.0.0.0", "--port", "8000"]
    environment:
      PRICE_SERVICE_URL: "http://realtimeprice-service:8000"
      FUNDAMENTAL_SERVICE_URL: "http://fundamentaldata-service:8000"
    ports:
      - "8000:8000"
    depends_on:
      - realtimeprice-service
      - fundamentaldata-service
    networks:
      - stocknet

networks:
  stocknet:
    driver: bridge